<app-breaking-news></app-breaking-news>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header style="text-align: center;">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
   <mat-card-title>Mir Mosharraf Hossain Hall</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <div class="coverpik">
    <img class="picture" src="assets/University_Hall_exterior.jpg">
  </div>
 <!--  <img mat-card-image style=""
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/University_Hall%2C_Ohio_State_University.jpg/1200px-University_Hall%2C_Ohio_State_University.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
      ১৯২১ সালে ঢাকা বিশ্ববিদ্যালয়ের প্রতিষ্ঠাকালীণ সময়ে তিনটি হল ছিল : মুসলিম হল, ঢাকা হল ও জগন্নাথ হল। ১৯২৯ সালের ২২ আগষ্ট
      ঢাকা বিশ্ববিদ্যালয়ের চ্যান্সেলর স্যার স্ট্যানলী জ্যাকসন সলিমুল্লাহ মুসলিম হলের ভিত্তি প্রস্তর স্থাপন করেন। এরপূর্বে
      বর্তমান সলিমুল্লাহ মুসলিম হল শুধুমাত্র মুসলিম হল নামে পুরাতন সেক্রেটারিয়েট ভবন (বর্তমান ঢাকা মেডিকেল কলেজ ও হাসপাতাল)
      এর দোতলায় কিছু সংখ্যক কক্ষ নিয়ে হলটির কার্যক্রম শুরু করে। ঢাকা বিশ্ববিদ্যালয় চ্যান্সেলর স্যার স্টানলী জ্যাকসন ১৯৩১
      সালের ১১ আগষ্ট আনুষ্ঠানিকভাবে সলিমুল্লাহ মুসলিম হলের উদ্ভোধন করেন। ১৯৩১-৩২ শিক্ষাবর্ষ থেকে ভর্তিকৃত ছাত্রদেরকে প্রথম
      সলিমুল্লাহ মুসলিম হলে সংযুক্ত করা হয়। প্রথম প্রভোস্ট স্যার এ. এফ. রহমানের দক্ষ পরিচালনায় সলিমুল্লাহ মুসলিম হলের
      সম্মানজনক ঐতিহ্য প্রতিষ্ঠিত হয়। হলের মোট কক্ষের সংখ্যা ১৮০টি। এর মধ্যে ১৫২ টি কক্ষ ছাত্রদের জন্য বরাদ্দ। হলের ভিতর
      একটি মনোরম বাগান রয়েছে এবং প্রতি বছর অনেক মৌসুমী চারা রোপন করা হয় যা সকলকে মুগ্ধ করে। ছাত্রদের লেখাপড়া, আত্বিক উন্নয়ন
      এবং সাংস্কৃতিক কর্মকান্ড চালিয়ে নিতে, হলে ১টি মসজিদ, ১টি ডিবেটিং ক্লাব, ১টি লাইব্রেরি, ১টি রিডিং রুম ও ১টি ড্রামা ও
      ১টি মিউজিক ক্লাব রয়েছে।

    
    </p>
  </mat-card-content>
  <app-footer></app-footer>

</mat-card>

