<div class="login-container">
    <div class="form-container mat-elevation-z8">
      <div class="form-header mat-elevation-z9">
        <mat-toolbar color="warn">Register</mat-toolbar>
      </div>
      <form class="form" #registerForm="ngForm" (ngSubmit)="register()">
        <!-- Your registration form fields -->
        <mat-form-field class="f-w">
          <mat-label>Name</mat-label>
          <input matInput name="username" [(ngModel)]="data.username" #username="ngModel" required>
          <mat-error>
            <div *ngIf="!username.pristine && username.errors">Username required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="data.email" #email="ngModel" required email>
          <mat-error>
            <div *ngIf="!email.pristine && email.errors">Invalid email</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Phone</mat-label>
          <input matInput name="phoneNumber" [(ngModel)]="data.phoneNumber" #phoneNumber="ngModel" required>
          <mat-error>
            <div *ngIf="!phoneNumber.pristine && phoneNumber.errors">Phone is required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Password</mat-label>
          <input matInput name="password" [(ngModel)]="data.password" #password="ngModel" required>
          <mat-error>
            <div *ngIf="!password.pristine && password.errors">Password required</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="f-w">
          <mat-label>Confirm Password</mat-label>
          <input matInput name="confirmPassword" [(ngModel)]="data.confirmPassword" #confirmPassword="ngModel" required>
          <mat-error>
            <div *ngIf="!confirmPassword.pristine && confirmPassword.errors">Passwords must match</div>
          </mat-error>
        </mat-form-field>

        <!-- Your registration form buttons -->
        <div style="text-align: end;">
            Already have an account?
        </div>
        <div class="f-w" style="display:flex;justify-content: space-between;">
          <button  mat-raised-button type="submit" style="background-color: white; color: black; width: 180px;">Register</button>

          <button [routerLink]="['/login']" mat-raised-button type="button" style="background-color: white; color: black; width: 180px;">Login</button>
        </div>
        <button mat-raised-button style="width: 100%;" color="warn" routerLink="/home">Back to Home</button>
      </form>
    </div>
  </div>
