.login-container
{
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
}

.form-header{
  color: #263238;
}

.form-container{
  width: 400px;
  padding: 0;
  margin: 0 auto;

}
.form-container .mat-toolbar{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}
.form {
  padding: 0;
  margin: 12px 16px;
  
}
.f-w {
  width: 368px;
  margin: 5px auto;
}