<div class="login-container">
  <div class="form-container mat-elevation-z8">
      <div class="form-header mat-elevation-z9">
          <mat-toolbar color="warn" style="text-align: center;">Login</mat-toolbar>
      </div>
      <form class="form" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <mat-form-field appearance="outline" class="f-w" >
              <mat-label> Enter your email or phone number </mat-label>
              <input matInput name="identifier" [(ngModel)]="data.identifier" #identifier="ngModel" required >
              <mat-error>
                <div *ngIf="!identifier.pristine && identifier.errors">Email or phone is required</div>
              </mat-error>
            </mat-form-field>
           <!--  <mat-form-field appearance="outline" class="f-w" >
              <mat-label>Enter your password</mat-label>
              <input matInput name="password" [(ngModel)]="data.password" #password="ngModel" required>
              <mat-error>
                <div *ngIf="!password.pristine && password.errors">Password required</div>
              </mat-error>
            </mat-form-field> -->

            <mat-form-field appearance="outline" class="f-w">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hidePassword ? 'password' : 'text'"
                name="password"
                [(ngModel)]="data.password"
                #password="ngModel"
                required>

              <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>

              <mat-error>
                <div *ngIf="!password.pristine && password.errors">Password required</div>
              </mat-error>
            </mat-form-field>

            <div style="text-align: start;">
              Don't have an account?
            </div>
            <div class="f-w" style="display:flex;justify-content: space-between;">
              <button [routerLink]="['/register']" mat-raised-button type="submit" style="background-color: white; color: black; width: 180px;">Register</button>
              <button  mat-raised-button type="submit" style="background-color: white; color: black; width: 180px;">Login</button>
            </div>
            <button mat-raised-button style="width: 100%;" color="warn" routerLink="/home">Back to Home</button>
      </form>
  </div>
</div>

