<mat-card>
  <mat-card-header>
    <mat-card-title>Seat With Rooms</mat-card-title>
    <mat-card-subtitle>List of SeatWithRooms</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="right">
      <a [routerLink]="['/seatwithroom-create']" mat-mini-fab><mat-icon>add</mat-icon></a>
    </div>
    <mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="serial">
        <mat-header-cell *matHeaderCellDef>SL#</mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="seatNumber">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Seat Number</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.seatNumber}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="roomFare">
        <mat-header-cell *matHeaderCellDef>Room Fare</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.roomFare}} BDT</mat-cell>
      </ng-container>

      <ng-container matColumnDef="roomId">
        <mat-header-cell *matHeaderCellDef>Room ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.roomId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="isBooked" >
        <mat-header-cell *matHeaderCellDef>Is Booked</mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.isBooked ? 'Yes': 'No'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.createdDate | date:'yyyy-MM-dd'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdUserId">
        <mat-header-cell *matHeaderCellDef>Created UserID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.createdUserId}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a type="button" color="primary" mat-icon-button [routerLink]="['/request-edit', element.requestId]">
            <mat-icon>edit</mat-icon>
          </a>
          <button type="button" color="dark" mat-icon-button>
            <mat-icon>visibility</mat-icon>
          </button>
          <button type="button" color="warn" mat-icon-button (click)="deleteSeatwithRoom(element)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>

      <!-- Rows -->
      <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columns;"></mat-row>
    </mat-table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
