<mat-card class="main">
  <mat-card-content>
    <section id="mission-and-vision">
      <h2 style="text-align: center;">Mission and Vision</h2>
      <p>বিশ্ববিদ্যালয় জ্ঞান চর্চা ও বিকাশের লক্ষ্যে প্রতিষ্ঠিত শিক্ষা প্রতিষ্ঠান। বিশ্বজ্ঞান বলতে বোঝায় বহুমুখী জ্ঞান।
        বিশ্ববিদ্যালয়ের এই বিপুল জ্ঞান-ভাণ্ডার থেকে যোগ্য ব্যক্তি তাঁর আগ্রহ, রুচি ও যোগ্যতা অনুযায়ী বিশেষ জ্ঞান অর্জনে ব্রতী
        হন। জ্ঞানের সকল শাখায় পারদর্শী হওয়া সম্ভব নয়। তাই বিভিন্ন শাখা থেকে মনোনীত শাখাতেই উচ্চ শিক্ষার শিক্ষার্থীরা জ্ঞান
        অর্জনে আগ্রহী হন এবং যোগ্যতার পরিচয় দিতে পারলে সে শাখায় ভর্তি হয়ে বিশেষায়িত জ্ঞান অর্জনে সচেষ্ট হন।

        ঢাকা বিশ্ববিদ্যালয়ের ক্ষেত্রেও একথা প্রযোজ্য। এখানেও উচ্চ শিক্ষার নানা শাখায় জ্ঞান অর্জনের ব্যবস্থা রাখার সিদ্ধান্ত
        গৃহীত হয়।

        সুতরাং প্রাচ্য ও পাশ্চাত্যের জ্ঞানের মিলনের মধ্য দিয়ে পরিপূর্ণ জ্ঞানের আলোকে শিক্ষার্থীদের আলোকিত করার উদ্দেশ্য নিয়েই
        ঢাকা বিশ্ববিদ্যালয় প্রতিষ্ঠিত হয়। ঢাকা বিশ্ববিদ্যালয় কর্তৃপক্ষ তিনটি অনুষদের অধীনে নিম্নলিখিত বিভাগগুলো নিয়ে
        আনুষ্ঠানিকভাবে শিক্ষাকার্যক্রম শুরু করে।</p>
      </section>

    <section id="history">
      <h2 style="text-align: center;">History</h2>
      <p>
        প্রাচ্যের অক্সফোর্ড হিসাবে খ্যাত ঢাকা বিশ্ববিদ্যালয় ১৯২১ সালের ১ জুলাই ভারতের অন্যতম প্রদেশ, বাংলার
        পূর্বাঞ্চলীয় জেলাসমূহের মানুষের মধ্যে উচ্চশিক্ষা বিস্তারের জন্য প্রতিষ্ঠিত হয়েছিল। অক্সফোর্ড বিশ্ববিদ্যালয়
        অনুসরণ করে শিক্ষার্থীদের হলকেন্দ্রিক ভর্তি, আবাসনের ব্যবস্থা এবং আবাসিক শিক্ষকের তত্ত্বাবধানে সমস্ত কার্যক্রম
        পরিচালনা ঢাকা বিশ্ববিদ্যালয়ের প্রতিষ্ঠাকালীন বৈশিষ্ট্য ছিল যা আজও অব্যাহত রয়েছে। আজকের ডক্টর মুহম্মদ
        শহীদুল্লাহ্‌ হল ঢাকা বিশ্ববিদ্যালয়ের তিনটি প্রতিষ্ঠাকালীন আবাসিক হল যথা ঢাকা, জগন্নাথ, এবং মুসলিম হলের (মুসলিম
        হল পরে সলিমুল্লাহ মুসলিম হলে রূপান্তরিত) মধ্যে অন্যতম। ডক্টর মুহম্মদ শহীদুল্লাহ্‌ হল তথা ঢাকা হলের জন্ম ইতিহাস
        তৎকালীন ঢাকা কলেজের স্থানান্তরের সাথে জড়িত। ১৮৪১ সালে প্রতিষ্ঠিত, ঢাকা কলেজ সদর ঘাটের একটি পুরানো বাড়ি থেকে
        ১৯০৮ সালের জুলাই মাসে আংশিক (পাঠাগার ও অন্যান্য স্থাপনা) এবং ১৯১১ সালে পরিপূর্ণভাবে ঢাকার রমনা এলাকায় স্থাপিত
        কার্জন হলে স্থানান্তরিত হয়। কার্জন হলের দক্ষিণ পাশে পুকুরের পশ্চিম পারে অবস্থিত দ্বিতল ভবনটি ঢাকা কলেজের
        ছাত্রাবাসে পরিণত হয়। নির্মাণের সময়, এটি ছিল ৪৩,৬৫০ বর্গফুট আয়তন বিশিষ্ট লাল ইট দিয়ে তৈরি একটি বর্গাকার
        বিল্ডিং। এটাই আজকের ডক্টর মুহম্মদ শহীদুল্লাহ্‌ হল তথা ঢাকা হলের মূল ভবন। কার্জন হল মূলত বঙ্গভঙ্গ আন্দোলনকালীন
        একটি নির্মাণ। ১৯০৪ সালে ভারতের ভাইসরয় লর্ড কার্জন এটির ভিত্তিপ্রস্তর স্থাপন করেন। এবং সেই সময় এটি একটি টাউন হল
        হিসেবে প্রচলিত ছিল। কথিত আছে যে, বঙ্গভঙ্গের সময় এটি বিভক্ত পূর্ববাংলার পার্লামেন্ট ভবন হিসেবে নির্মিত হয়েছিল।
        পুকুর পারের ভবনটি খুব সম্ভবত সংসদ সদস্যদের আবাস হিসাবে নির্মান করা হয়। তবে, বঙ্গভঙ্গ রহিত হওয়ার কারনে, কার্জন হল
        কখনোই পার্লামেন্ট ভবন হিসেবে ব্যবহৃত হয়নি। ১৯২১ সালে ঢাকা বিশ্ববিদ্যালয় প্রতিষ্ঠার পর এটি বিশ্ববিদ্যালয়ের
        বিজ্ঞান বিভাগে পরিণত হয়, যা আজও অব্যাহত রয়েছে।
      </p>
    </section>

    <section id="photo-gallery">
      <h2 style="text-align: center;">Photo Gallery</h2>
      <div class="gallery">
        <img src="assets/Gallery/17.jpg" alt="Gallery Image 1">
        <img src="assets/Gallery/19.jpg" alt="Gallery Image 2">
        <img src="assets/Gallery/13.jpg" alt="Gallery Image 3">
        <img src="assets/Gallery/16.jpg" alt="Gallery Image 4">
        <img src="assets/Gallery/11.jpg" alt="Gallery Image 5">
        <img src="assets/Gallery/20.jpg" alt="Gallery Image 6">
        <img src="assets/Gallery/18.jpg" alt="Gallery Image 7">
        <img src="assets/Gallery/15.jpg" alt="Gallery Image 8">
        <img src="assets/Gallery/14.jpg" alt="Gallery Image 9">

        <!-- Add more images as needed -->
      </div>
    </section>
  </mat-card-content>
</mat-card>
