<mat-card class="medium-container">
  <mat-card-header>
    <mat-card-title>Create new Notice</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    {{adminNoticeForm.value|json}}
    <form [formGroup]="adminNoticeForm" (ngSubmit)="save()">
      <mat-form-field appearance="outline" class="f-w">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title">
        <mat-error *ngIf="f['title'].touched && f['title'].hasError('required')">
          Title is <b>required</b>
        </mat-error>
      </mat-form-field>


      <mat-form-field appearance="outline" class="f-w">
        <mat-label>Upload File</mat-label>
        <input readonly="true" type="text" matInput formControlName="noticeFile" />
        <mat-icon matSuffix (click)="pic.click()">folder_open</mat-icon>
        <mat-error *ngIf="f['noticeFile'].touched && f['noticeFile'].hasError('required')">
          File is <b>required</b>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="f-w">
        <mat-label>Created Date</mat-label>
        <input matInput formControlName="createdDate" [matDatepicker]="picker1">
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <mat-error *ngIf="f['createdDate'].touched && f['createdDate'].hasError('required')">
          Created Date is <b>required</b>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="f-w">
        <mat-label>Created User ID</mat-label>
        <input type="number" matInput formControlName="createdUserId">
        <mat-error *ngIf="f['createdUserId'].touched && f['createdUserId'].hasError('required')">
          Roll Number is <b>required</b>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="f-w">
        <mat-label>Modified Date</mat-label>
        <input matInput formControlName="modifiedDate" [matDatepicker]="picker2">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="f-w">
        <mat-label>Modified User ID</mat-label>
        <input type="number" matInput formControlName="modifiedUserId">
      </mat-form-field>

      <div class="f-w">
        <button mat-raised-button type="submit" color="primary" [disabled]="adminNoticeForm.invalid">Save</button>
      </div>

      <input type="file" [hidden]="true" #pic (change)="pictureChanged($event)" />

    </form>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button [routerLink]="['/admin-notice-list']">Back to list</a>
  </mat-card-actions>
</mat-card>
