<h1 mat-dialog-title>Student Room Details</h1><mat-dialog-content>
  <p><strong>Student Name:</strong> {{data.studentName}}</p>
  <p><strong>Hall Name:</strong> {{data.hallName}}</p>
  <p><strong>Block Name:</strong> {{data.blockName}}</p>
  <p><strong>Room Number:</strong> {{data.roomNo}}</p>
  <p><strong>Room Fare:</strong> {{data.roomFare}}</p>
  <p><strong>From Date:</strong> {{data.fromDate | date}}</p>
  <p><strong>To Date:</strong> {{data.toDate | date}}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
